.wp-site-verification-tool-form-table{
	width: 80%;
	text-align: left;
}

.wp-site-verification-tool-form-table th label{
	width: 100%;
	display: inline-block;
}

.wp-site-verification-tool-form-table .regular-textarea{
	width: 100%;
	height: 200px;
}
.wp-site-verification-tool-form-table .regular-text{
	min-width: 75%;
}
.wp-site-verification-tool-form-table td label{
	padding-left: 10px;
}
